body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}

.header {
    background-image: linear-gradient(to right, #495cb2, #23175c);
}

.header h1 {
    font-size: 3rem;
    padding: .2rem;
    color: white;
}

h5 {
    margin-top: -2px;
}

.btn {
    width: 98%;
    margin-top: 26px;
    margin-bottom: 26px;
    height: 3rem;
}

.search:hover {
    background-color: #64b5f6 !important;
}

.saved-cities {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    vertical-align: middle;
    position: relative;
    color: black;
    /* background-color: grey; */
}

.saved-cities:hover {
    background-color: #bdbdbd !important;
}


.input-field {
    margin-top: 21px;
}

#location {
    width: 98%
}

#city-name {
    width: 98%;
    height: 3rem;
    border: 2px solid #aeaeae;

    border-radius: 5px;

    padding-right: 0px;
    margin-right: 0px;

}

i.button-delete {
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    right: 0;

    color: #37474f;
    z-index: 5;
    font-size: 1.8rem;
}

i.button-delete:hover {
    background-color: #90a4ae;
}

input::placeholder {

    color: #848484;
}

input[type="text"] {
    padding: 10px;
}

hr {
    margin-top: -15px;
    background-color: #aeaeae;
    width: 98%;
    margin-left: 0px;
}

.cities {
    height: 1800px;
}

.today {
    border: 2px solid #aeaeae;
    justify-content: space-around;
    width: calc((100%) + 7px);
    margin-left: -5px;
    min-height: 180px;
}

.current {
    margin-left: 8px;
}

.future {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 18%;
    background-color: #323d43;
    height: 250px;
}

#current-city {
    display: flex;
    align-items: center;
}